{% extends 'base.html' %}
{% load static %}
{% block title %}DecodeNode - Leaderboard{% endblock %}
{% block assets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/leaderboard.css' %}">
{% endblock %}
{% block content %}
<div id="container">
    <div class="content">
        <div class="user-rank">
            <span>Your rank: {{ user_rank }}</span>
        </div>
        <h1>Leaderboard</h1>
        <table>
            <tr>
                <th class="table-rank">Rank</th>
                <th class="table-name">Username</th>
                <th class="table-inst">Institute</th>
                <th class="table-level">Level</th>
            </tr>
            {% for user in leaderboard %}
                <tr>
                    <td class="table-rank">{{ forloop.counter }}</td>
                    <td class="table-name">{{ user.user.username }}</td>
                    <td class="table-inst">{{ user.institute }}</td>
                    <td class="table-level">{{ user.current_level }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
