{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}DecodeNode - Leaderboard{% endblock %}
{% block assets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/leaderboard.css' %}">
{% endblock %}
{% block content %}
<div id="container">
    <div class="content">
        <div class="user-rank">
            {% if user_rank %}
                <span>Your rank: {{ user_rank }}</span>
            {% else %}
                <span><a href="{% url 'accounts:login' %}">Login to Play</a></span>
            {% endif %}
        </div>
        <h1>Leaderboard</h1>
        <div class="card legend">
            <div class="card-media">
                <div class="content">
                    <span>Rank</span> 
                </div>
            </div>
            <div class="card-content">
                <div class="left">
                    <span>Username/Institute</span>
                </div>
                <div class="right">
                    <span>Level</span>
                </div>
            </div>
        </div>
        {% for user, class in leaderboard %}
        <div class="card {{ class }}">
            <div class="card-media">
                <div class="level">
                    <span>{{ forloop.counter }}</span>
                </div>
            </div>
            <div class="card-content">
                <div class="left">
                    <h3>{{ user.user.username|truncatechars:30 }}</h3>
                    <h4>{{ user.institute }}</h4>
                </div>
                <div class="right">
                    <div class="level">
                        <span>{{user.current_level}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="{% static 'js/leaderboard.js' %}"></script>
{% endblock %}