::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

.left-group, .right-group {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 300;
}
@media (max-width: 992px) {
  .left-group, .right-group {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center !important;
  }
}

.left-group {
  text-align: right;
  width: 55%;
}
.left-group span {
  color: #009688;
}
.left-group h1 {
  margin: auto auto;
  width: 100%;
  color: white;
}
@media (max-width: 768px) {
  .left-group h1 {
    font-size: 2.25rem !important;
  }
}
.left-group .hr {
  display: inline-block;
  width: 50px;
  height: 1px;
  margin: 5px 0;
  background: #727272;
}
.left-group p {
  width: 50%;
  margin: 0 0 0 auto;
  color: white !important;
  font-weight: 300;
}
@media (max-width: 992px) {
  .left-group p {
    width: 75%;
    margin: auto auto;
  }
}
.left-group p a {
  text-decoration: none;
  color: #8e97d4;
}

.right-group {
  margin-left: 55%;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 0;
  width: auto;
  text-align: left;
}
.right-group .btn {
  margin: 5px 0;
  display: block;
}
@media (max-width: 992px) {
  .right-group {
    margin: 0;
    padding: 0;
    top: auto;
    left: auto;
    width: 100%;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    bottom: 25px;
  }
  .right-group .btn {
    display: inline-block;
    width: auto;
    margin: 2px auto;
  }
}
