::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

body {
  overflow: auto !important;
  overflow-x: hidden !important;
}

#container {
  height: auto;
  min-height: 100vh;
}

#container > .content {
  position: relative;
  top: 0;
  left: 0;
  margin: 100px auto;
  padding: 70px 75px;
  width: 800px;
  color: #212121;
  background: white;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#container > .content .user-rank {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  background: #3f51b5;
  -webkit-transform: translate(-125%, -50%);
  -ms-transform: translate(-125%, -50%);
  transform: translate(-125%, -50%);
}
#container > .content .user-rank a {
  text-decoration: none;
  color: white;
  white-space: pre;
}
#container > .content .user-rank span {
  position: relative;
  display: block;
  color: white;
  font-size: 16px;
  white-space: pre;
}
@media (max-width: 992px) {
  #container > .content {
    margin: 75px auto;
    padding: 70px 50px;
    width: 75%;
  }
}
@media (max-width: 768px) {
  #container > .content {
    margin: 75px auto;
    padding: 70px 30px;
    width: 80%;
  }
}
@media (max-width: 480px) {
  #container > .content {
    margin: 55px auto 10px auto;
    padding: 70px 0;
    width: 100%;
  }
}
#container > .content h1 {
  margin-bottom: 40px;
}

.card {
  position: relative;
  display: table;
  width: 100%;
  height: 40px;
  background: #eee;
  margin: 5px 0;
  border-radius: 0px;
}
.card.legend {
  background: #212121;
}
.card.legend span, .card.legend h3, .card.legend h4 {
  color: white !important;
}
.card.legend .card-media {
  background: transparent;
}
.card .card-media {
  position: absolute;
  width: 120px;
  height: 40px;
  background: #b6b6b6;
  border-radius: 0px 0 0 0px;
}
.card .card-media .level {
  position: relative;
  width: 30px;
  height: 30px;
  margin: auto auto;
  top: 5px;
  background: #727272;
  border-radius: 50%;
}
.card .card-media .level span {
  position: relative;
  font-size: 20px;
  top: 5px;
  color: white;
}
.card .card-content {
  position: relative;
  margin: 0 0 0 120px;
  padding: 5px 10px;
  width: auto;
  height: 30px;
  color: #212121;
  text-align: left;
}
.card .card-content .left, .card .card-content .right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.card .card-content .left {
  left: 15px;
}
.card .card-content .right {
  right: 10px;
  float: right;
}
@media (max-width: 400px) {
  .card .card-content .right {
    display: none;
  }
}
.card .card-content .level span {
  margin-right: 5px;
  font-size: 20px;
  color: #727272;
  font-weight: 600;
}
.card .card-content h3 {
  font-size: 20px !important;
}
.card .card-content h4 {
  font-size: 12px !important;
  font-weight: 300;
}
.card.topten {
  height: 60px;
  background: #eaecf7;
}
.card.topten .card-media {
  height: 60px;
  background: #606fc7;
}
.card.topten .card-media .level {
  width: 40px;
  height: 40px;
  top: 10px;
  background: #495ac8;
}
.card.topten .card-media .level span {
  top: 10px;
}
.card.topten .card-content {
  height: 50px;
}
.card.topten .card-content h3 {
  font-size: 25px !important;
}
.card.topten .card-content h4 {
  font-size: 16px !important;
}
.card.topten .card-content .level span {
  color: #009688;
}
.card.first {
  height: 90px;
  background: #f8eebe;
}
.card.first .card-media {
  height: 90px;
  background: #e8ca35;
}
.card.first .card-media .level {
  top: 25px;
  background: #d2b318;
}
.card.first .card-content {
  height: 80px;
}
.card.first .card-content .level span {
  color: #d2b318;
}
.card.second {
  height: 80px;
  background: #dddddd;
}
.card.second .card-media {
  height: 80px;
  background: #aaaaaa;
}
.card.second .card-media .level {
  top: 20px;
  background: #909090;
}
.card.second .card-content {
  height: 70px;
}
.card.second .card-content .level span {
  color: #909090;
}
.card.third {
  height: 70px;
  background: #f0d9c1;
}
.card.third .card-media {
  height: 70px;
  background: #cd7f32;
}
.card.third .card-media .level {
  top: 15px;
  background: #a46628;
}
.card.third .card-content {
  height: 60px;
}
.card.third .card-content .level span {
  color: #a46628;
}
