::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

.btn {
  display: inline-block;
  width: auto;
}
.btn.blue:hover {
  color: #303f9f;
}
.btn.green:hover {
  color: #009688;
}

#container > .content {
  background: white;
  padding: 70px 50px 70px 0;
}
@media (max-width: 600px) {
  #container > .content {
    padding: 70px 40px;
  }
}

.profile-section {
  position: relative;
  width: auto;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-left: 275px;
  color: #212121;
  text-align: left;
}
.profile-section .content {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.profile-section .username {
  font-weight: 300;
  font-size: 2.25rem !important;
}
.profile-section .email {
  font-size: 1rem !important;
}
.profile-section .email a {
  color: #009688;
}
.profile-section .name, .profile-section .institute, .profile-section .buttons, .profile-section .level {
  margin-top: 25px;
}
.profile-section .name span {
  display: block;
  font-size: 1.25rem;
}
.profile-section .institute span {
  display: block;
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  transform: translateY(-13px);
}
.profile-section .level {
  font-size: 1.5rem;
}
.profile-section .level-badge {
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  padding: 0.25rem 0;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
  background: #009688;
  -webkit-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  transform: translateY(-0.25rem);
  color: white;
}
@media (max-width: 768px) {
  .profile-section {
    margin-left: 225px;
  }
}
@media (max-width: 600px) {
  .profile-section {
    margin-left: 0;
  }
}

.profile-picture {
  position: absolute;
  left: 50px;
  top: 50%;
  width: 200px;
  z-index: 4;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.profile-picture:hover input {
  opacity: 1;
}
.profile-picture img {
  width: 100%;
  background: #c5cae9;
}
.profile-picture input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.profile-picture .rank {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -20px);
  -ms-transform: translate(-50%, -20px);
  transform: translate(-50%, -20px);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  background: #303f9f;
  color: white;
  white-space: pre;
}
.profile-picture .details {
  margin-top: -3px;
  padding: 25px 0 15px 0;
  background: #3f51b5;
}
.profile-picture span {
  display: block;
  margin: 0px 0px;
  padding: 10px 15px;
  width: auto;
  color: white;
  font-size: 0.9rem;
}
.profile-picture span label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 5px;
  color: #242f78;
  font-weight: 400;
}
@media (max-width: 768px) {
  .profile-picture {
    width: 150px;
  }
  .profile-picture .rank {
    border-radius: 0;
    width: 110px;
  }
}
@media (max-width: 600px) {
  .profile-picture {
    display: none;
  }
}

input[type="text"] {
  background: rgba(33, 33, 33, 0.15);
  padding: 5px 15px;
  color: #212121;
  font-weight: 400;
  border: none;
}
input[type="text"]::-webkit-input-placeholder {
  color: #727272;
}
input[type="text"]::-moz-placeholder {
  color: #727272;
}
input[type="text"]:-ms-input-placeholder {
  color: #727272;
}
input[type="text"]::placeholder {
  color: #727272;
}
