@import "settings.scss";

.left-group, .right-group{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    @media (max-width: 992px){
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        text-align: center !important;
    }
}

.left-group{
    text-align: right;
    width: 55%;
    span{
        color: $accent;
    }
    h1{
        margin: auto auto;
        width: 100%;
        color: $white;
        @media(max-width: 768px){
            font-size: 2.25rem !important;
        }
    }
    .hr{
        display: inline-block;
        width: 50px;
        height: 1px;
        margin: 5px 0;
        background: $grey_dark;
    }
    p{
        width: 50%;
        margin: 0 0 0 auto;
        color: lighten($grey_light, 100%)!important;    
        font-weight: 300;
        @media(max-width: 992px){
            width: 75%;
            margin: auto auto;
        }
        a{
            text-decoration: none;
            color: darken($primary_light, 15%);
        }
    }
}

.right-group{
    margin-left: 55%;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 0;
    width: auto;
    text-align: left;
    .btn{
        margin: 5px 0;
        display: block;
    }
    @media (max-width: 992px){
        margin: 0;
        padding: 0;
        top: auto;
        left: auto;
        width: 100%;
        transform: translate(0,0);
        bottom: 25px;
        .btn{
            display: inline-block;
            width: auto;
            margin: 2px auto;
        }
    }
}


.btn{
    &.white{
        color: $white;
        background: rgba($white, 0.125);
        &:hover{
            background: rgba($white, 0.9);
            color: $black;
        }
    }
    &.green{
        border: solid 2px rgba($accent, 0.75);
        background: rgba($accent, 0.125);
        &:hover{
            background: rgba($accent, 0.9);
        }
    }
    &.blue{
        border: solid 2px rgba($primary_medium, 0.75);
        background: rgba($primary_medium, 0.125);
        &:hover{
            background: rgba($primary_medium, 0.9);
        }
    }
    &.cyan{
        border: solid 2px rgba(lighten($accent, 30%), 0.75);
        background: rgba(lighten($accent, 30%), 0.125);
        &:hover{
            color: $black;
            background: rgba(lighten($accent, 30%), 0.9);
        }
    }
}