@import "settings.scss";

body{
    overflow: none;
    overflow-x: hidden; 
}

.content{
    .user-rank{
        position: absolute;
        top: 0; left: 100%;
        padding: 10px 20px; 
        border-radius: 25px;
        text-align: center;
        background: $primary_medium;
        transform: translate(-125%, -50%);
        span{
            position: relative;
            display: block;
            color: $white;
            font-size: 16px;
            white-space: pre;
        }
    }
    position: relative;
    top: 0; left: 0;
    margin: 100px auto;
    padding: 70px 75px; 
    width: 800px;
    color: $black;
    background: $white;
    transform: translate(0, 0);
    @media (max-width: 992px){
        margin: 75px 50px;
        padding: 70px 50px;
        width: auto;
    }
    @media (max-width: 768px){
        margin: 75px 30px;
        padding: 70px 30px;
    }
    h1{
        margin-bottom: 40px;
    }
}

table{
    width: 100%;
    text-align: left;
    th{
        font-weight: 600;
    }
    th, td{
        padding: 5px 0;
    }
}